@if(!showDetails){
<div
  class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
>
  <div class="text-4xl font-extrabold tracking-tight">Transaction List</div>
</div>
<div class="flex flex-auto overflow-hidden">
  <div
    class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto pb-6"
  >
    <table
      class="w-full bg-transparent is-hoverable"
      mat-table
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="position">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-xs+ whitespace-nowrap bg-light-primary px-4 py-3 font-medium capitalize text-slate-800 dark:text-navy-100 lg:px-5"
        >
          Id
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          class="whitespace-nowrap px-4 py-3 sm:px-5"
        >
          <span class="flex capitalize cursor-pointer text-xs+">
            {{ element.id }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-xs+ whitespace-nowrap bg-light-primary px-4 py-3 font-medium capitalize text-slate-800 dark:text-navy-100 lg:px-5"
        >
          Date
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="whitespace-nowrap px-4 py-3 sm:px-5"
        >
          <span class="flex capitalize cursor-pointer text-xs+">
            {{ element.date | date : "dd/MM/YYYY" }}
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="comments">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-xs+ whitespace-nowrap bg-light-primary px-4 py-3 font-medium capitalize text-slate-800 dark:text-navy-100 lg:px-5"
        >
          Comments
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="whitespace-nowrap px-4 py-3 sm:px-5"
        >
          <span class="flex cursor-pointer text-xs+">
            {{ element.comments }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-xs+ whitespace-nowrap bg-light-primary px-4 py-3 font-medium capitalize text-slate-800 dark:text-navy-100 lg:px-5"
        >
          Actions
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="whitespace-nowrap px-4 py-3 sm:px-5"
        >
          <div class="flex items-center">
            <span
              (click)="viewSingle(element)"
              class="flex items-center cursor-pointer mr-3 underline"
            >
              View
            </span>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td
          class="text-xs+ mat-cell whitespace-nowrap px-4 py-3 sm:px-5"
          align="center"
          [attr.colspan]="displayedColumns.length"
        >
          No data Found.
        </td>
      </tr>
    </table>
  </div>
</div>
} @else{
<app-transaction-details
  [transactionDetails]="transactionDetails"
  (updateDetails)="updateDetails($event)"
></app-transaction-details>
}
